.hidden {
    display: none !important;
}
@font-face {
    font-family: 'Pokemon';
    src: url(fonts/Pokemon\ Classic.ttf);
}

* {
    border: 2px solid green;
}

body {
    font-family: 'Pokemon', sans-serif;
    background-image: url("./assets/terrain.png");
    position: sticky;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
}

.overlay {
	background: rgba( 26, 26, 26, 0.7 );
	position: fixed;
	width: 100%;
	height: 100%;
	/* z-index: 5; */
	top: 0;
    left: 0;
}

.choose-pkmn-overlay-img-container {
	display: flex;
    flex-direction: column;
    align-items: center;
	position: fixed;
    padding: 20px;
	/* z-index: 7; */
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.choose-your-pkmn {
	width: 300px;
	height: 150px;
	border-radius: 5px;
    padding: 20px;
}

.type-container-3,
.type-container-5  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.type-icon{
    /* cursor: pointer; */
    padding: 10px;
    height: 10vh;
    width: 8vh;
}

.classic-mode,
.challenge-mode {
    border: double 5px;
    border-color: gray;
}

.main-game-board {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* position: fixed; */
}

.trainer-1-left,
.trainer-2-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pokemon-L,
.pokemon-R {
    padding-top: 30%;
}

p {
    /* color: red; */
    /* font-size:large; */
    font-weight: 700;
}   

